.adminPanel {
    margin: 10px auto;
    padding: 50px 20px;
    background-color: rgb(233, 233, 233);
    width: 95%;
    color: rgb(117, 50, 50);
    box-shadow: 2px 1px 6px 2px rgba(80, 78, 78, 0.344);
    display: flex;
    justify-content: space-around;
}

.manageArticles {
    width: 40%;
}

.listArticles {
    width: 55%;
}